<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/login.css">
<div class="auth">
  <div class="login-box">
      <!-- <div class="row justify-content-center">
         <div class="col-md-6 col-lg-4"> -->
            <h1 class="text-center mb-4">LogIn</h1>

            <form action="/login" method="post" class="validated-form" novalidate>

               <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required>
               </div>

               <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
               </div>

               <div class="d-grid mt-5 mb-3">
                  <button type="submit" class="btn btn-primary" >LogIn</button>
               </div>

            </form>
      
      <!-- </div> -->
   </div>
   </div>
   <div class="animalImages mt-5 mb-3">
      <img class="anIm" src="/assets/animal1.svg" width="100" height="100" alt="animal1">
      <img class="anIm" src="/assets/animal2.svg" width="100" height="100" alt="animal2">
      <img class="anIm" src="/assets/animal3.svg" width="100" height="100" alt="animal3">
      <img class="anIm" src="/assets/animal4.svg" width="100" height="100" alt="animal4">
      <img class="anIm" src="/assets/animal5.svg" width="100" height="100" alt="animal5">
   </div>