.animalImages{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   margin: 0 auto;
}

.btn{
   background-color: teal;
   border-color: teal;
}

.col-md-6{
   padding: 3em;
   /* background-color: aqua; */
   border: solid 1px teal;
   border-radius: 10px;
}

.btn:hover{
   background-color: rgb(1, 62, 62);
   border-color: rgb(1, 62, 62);
}